*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
table{
    font-size: 20px;
    margin: auto;
    padding: 5px;
    background-color: aqua;
    border-collapse: collapse;
   

}
tr,td , thead,tbody{
    border: 2px solid black;    
}