*,
::before,
::after{
  font-family: righteous;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: rgb(60, 60, 188);
color: aliceblue;
font-weight: bold;
  }

  /* navbar */
  .navbar{
    font-size: larger;

  }
 .nav-item{
    font: bold;
    color: black;
    background-color: rgb(27, 238, 69);
    border-radius: 25%;
 }
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }
  /* Home */
  .clock{
    font-weight: bolder;
    font-size: 50px
  }
  #singin{
    background-color: rgb(13, 182, 64);
    margin: 50%;
    width: 40%;
  }


  .bbg{
    background-color:  rgb(27, 238, 69);
    height: 150px;
  }
  .form{
    margin: 20px;
  }
  .formation{
    background-color: aqua;
    border-color: black;
    border: solid 2px ;
    width: 50%;
    
  }
  #message{
    margin-right: auto;
  }
  label{
    font-weight: bold;
    }
@media (300px <= width <= 900px){

} 
  
  
 
  
 
  

  
  button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(13, 182, 64);
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  button:hover {
      background-color: #0a904b; /* darker shade of green on hover */
  }
  